[Desktop Entry]
Type=Application
Version=1.0
Name=finfaktura
Name[no]=finfaktura
GenericName=Fakturaprogram for norske forhold
Exec=faktura.py
Icon=finfaktura
Terminal=false
Categories=Qt;Office;Finance;

