Source: finfaktura
Section: kde
Priority: optional
Maintainer: Håvard Gulldahl <havard@lurtgjort.no>
Build-Depends: debhelper (>= 4.0.0), python (>= 2.3), python-qt4, pyqt4-dev-tools
Standards-Version: 3.6.2
Homepage: http://finfaktura.googlecode.com/

Package: finfaktura
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-qt4, python-reportlab
Recommends: qt4-qtconfig, python-imaging
Suggests: python-psyco
Description: Create and manage invoices (Norwegian specs)
 Invoices, customers, products. Creates PDF invoices.
 Automatic email submission and backup.
 .
 Requires python, python-qt4 and the python-reportlab extension.
 Extra value added with the python-imaging module (adds
 icon ability for PDF invoice).
 .
 If you have python2.5, you don't need python-pysqlite2 (as python2.5
 already has it). You might also want to get and run qt4-qtconfig,
 to change the looks.
 .
 Project pages: http://finfaktura.googlecode.com/

#Package: finfaktura-doc
#Architecture: all
#Description: Documentation for finfaktura
# <insert long description, indented with spaces>
