Source: finfaktura
Section: unknown
Priority: optional
Maintainer: Håvard Dahle <havard@dahle.no>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: finfaktura
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: finfaktura-doc
Architecture: all
Description: Documentation for finfaktura
 <insert long description, indented with spaces>
